* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Open Sans";
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
 background-color: #CFB3FF;
 border-radius: 40px;
 padding: 20px 100px;
 /*box-shadow: 0px 1px 2px 0 #B8B3FF;*/
 border: none;
 border-bottom: .2em solid #B8B3FF;
 color: white;
 font-size: 1.5em;
}

/*Start Page*/

main {
  background: linear-gradient(#A87DE7, #FF6CB1);
  width: 100%;
}

#logo {
  width: 90%;
  margin-top: 7em;
}

#avatar {
  width: 80%;
}

/*Quotes page*/
#womanquote, #womanimage {
  text-align: center;
}

#quotecard {
  width: 100%;
}

#quotespage button {
  position: fixed;
  bottom: 2em;

}

#quotecard {
  width: 90%;
  background-color: white;
  padding: 1em 1em;
  border-radius: 30em;
  margin: 3em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 12em;
}

#womanquote {
  width: 77%;
}

#womanquote p {
  font-size: 1.4em;
  line-height: 2em;
  color: #9013FE;
}

#womanquote span {
  font-size: 1.1em;
  line-height: 2em;
  color: #6417BF;
}

#womanimage img {
  position: fixed;
  bottom: 10em;
  left: 60%;
  z-index: 1;
  width: 35%;
  border-radius: 15em;
}

/*responsive for desktop as well as mobile*/

@media only screen and (min-width: 600px) {
  #logo {
    width: 45em;
  }

  #avatar {
    width: 40em;
  }

  #quotecard {
    width: 45em;
  }

  #womanquote p {
    font-size: 1.7em;
  }

  #womanquote span {
    font-size: 1.3em;
  }

  #womanimage img {
    left: 60%;
    width: 20em;
  }

}
